.GetCompanyDetails {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.CardContainer {
    margin-bottom: 100px;
    background-color: var(--tertiaryColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border: 1px solid var(--borderColor);
    border-radius: 4px;
    box-shadow: 0px 0px 18px 7px var(--borderColor);
}

.ProfilePic {
    width: 300px;
    height: 300px;
    border-radius: 10%;
    margin-bottom: 16px;
}

.TextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Email {
    margin: 0;
    color: var(--borderColor);
    font-size: 23px;
}
