.EmptyCouponsView {
	height: 100%;
	width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.EmptyCouponsView > h1 {
    font-size: 50px;
	text-align: center;
}

.EmptyCouponsView > img {
    height: 400px;
    width: 800px;
}

