.PurchaseCoupon {
	
}


#purchaseValidationContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiaryColor);
    border-radius: 5px;
    border: 2px solid var(--borderColor);
    padding: 20px;
}
