.PurchaseCoupon {
	height: 100%;
	width:  100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#purchaseValidationContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiaryColor);
    border-radius: 5px;
    border: 2px solid var(--borderColor);
    padding: 20px;
}

.DecisionButtonContainer{
    display: flex;
    justify-content: space-between;
    width: 450px;
}

.decisionButton{
    font-size: xx-large;
    width: 150px;
    border: none;
    border-radius: 5px;
}

.confirmButton{
    color: var(--textColor);
    background-color: royalblue;
    
}

.confirmButton:hover{
    background-color: rgb(99, 129, 219);
}

.cancelButton{
    color: var(--textColor);
    background-color: gray;
}

.cancelButton:hover{
    background-color: rgb(180, 178, 178);
}