.Login {}

.Login form {
    width: 500px;
    border-radius: 5px;
    font-size: large;
    background-color: var(--tertiaryColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 50px -50px 25px 15px var(--borderColor);
    padding: 10px;
}

#clientTypesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.ClientTypes {
    height: 20px;
    width: 40px;
    cursor: pointer;
    accent-color: var(--primaryColor);
}

#registerOption {
    margin-top: 20px;
}

#registerOption a {
    color: rgb(93, 95, 222);
}

#registerOption a:hover {
    color: var(--borderColor)
}