.AuthMenu {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 40px;
}

.AuthMenu img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.AuthMenu img:hover {
    height: 55px;
    width: 55px;
}

.AuthMenu a {
    color: var(--textColor);
    font-size: large;
    text-decoration: none;
}

.AuthMenu a:hover {
    font-weight: 600;
}

.AuthMenu li {
    margin-top: 20px;
    border-bottom: 2px solid var(--borderColor);
}

#dropDownMenu {
    height: 110px;
    width: 60px;
    margin-top: 18px;
    position: absolute;
    background-color: var(--primaryColor);
    border: 2px solid var(--borderColor);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px;
    list-style: none;
    margin-right: 100px;
    right: -74px;
    text-align: center;
}

#dropDownButton {
    background-color: var(--secondaryColor);
    cursor: pointer;
    border: 0;
}