.UpdateCompany {}

.UpdateCompany form {
    border-radius: 25px;
    width: 600px;
    font-size: large;
    background-color: var(--tertiaryColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 50px -50px 25px 15px var(--borderColor);
    padding: 10px;
    margin-top: 50px;

}