.Header {
    grid-column: 20 span;
    grid-row: 2 span;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondaryColor);
}

.Header>a {
    margin-left: 200px;
    color: var(--textColor);
    text-decoration: none;
}

.Header>a>h1 {
    font-size: xxx-large;
}

#themeButtonContainer {
    margin-left: 40px;
}

#themeButton {
    border: none;
    border-radius: 50%;
    background-color: var(--secondaryColor);
}

#themeButton:hover {
    background-color: var(--oppositeSecondaryColor);
}