.Register {
	height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Register form {
    border-radius: 10px;
    width: 800px;
    font-size: large;
    background-color: var(--tertiaryColor) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 50px -40px 25px 5px  var(--borderColor) ;
    padding: 10px;
    margin-top: 50px;
}

.Register form label, .Register form span {
    font-size: x-large;
}

.Register form  span {
    color: var(--errorColor) ;
}

.Register form input {
    margin-bottom: 20px;
    border-radius: 20px;
}

.Register  form  button, .Register form input{
   height: 40px;
   width: 400px;
   font-size: larger;
   border-radius: 20px;
}

.Register > form > button:hover:enabled {
   background-color: var(--primaryColor);
   color: aliceblue;
}