.Home {
    height: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Home>h1 {
    font-size: 130px;
    background-color: var(--secondaryColor);
    border-radius: 25%;
}

#homeContainer {
    background-color: var(--secondaryColor);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#homeOfferTitle {
    margin-top: 50px;
    margin-bottom: 0;
    color: rgb(139, 7, 7);
}

#homeCouponFooter {
    height: 10px;
    align-items: center;
    height: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 290px;
    padding-bottom: 20px;
}

#homeImg {
    margin-top: 50px;
    height: 300px;
    width: 500px;
}