.GetAllCoupons {
    height: 100%;
    width: 100%;
}

#PurchasableCouponFooter {
    height: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 290px;
    padding-bottom: 20px;
}
