.GetAllCompanies {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TableContainer {
    background-color: var(--tertiaryColor);
    height: 512px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.GetAllCompanies table {
    height: 512;
    width: 100%;
    font-size: x-large;
    border-collapse: collapse;
    text-align: center;
}

.GetAllCompanies table tr {
    height: 85px;
    max-height: 85px;
}

.GetAllCompanies table td,
.GetAllCompanies table th {
    border: 2px solid var(--borderColor);
    border-style: ridge;

}

.GetAllCompanies table th {
    background-color: var(--tertiaryColor);
    position: sticky;
    top: 0;
    color: rgb(42, 164, 134);
}

.GetAllCompanies table td img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 20px;
}

.GetAllCompanies table button{
    background-color: var(--tertiaryColor);
    border: none;
    margin: 5px;
    border-radius: 5px;
}

.GetAllCompanies table button:hover {
    background-color: var(--borderColor);
    font-size: 45;
}

#addCompanyButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#addCompanyButton {
    color: var(--textColor);
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    background-color: var(--tertiaryColor);
    text-align: center;
    font-size: 35px;
    width: 500px;
}

#addCompanyButton:hover {
    background-color: var(--borderColor);
}

.companiesSearchBar{
    display: flex;
}

.companiesSearchBar input{
    /* color: var(--textColor); */
    border-radius: 20px;
    background-color: var(--textColor);
    text-align: center;
    appearance: none;
    cursor: pointer;
    margin-bottom: 50px;
    font-size: 20px;
    width: 400px;
    height: 35px;
}