.Footer {
    grid-column: 3 span;
    grid-row: 3 span;
    background-color: var(--tertiaryColor);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.Footer div {
    margin: 20px;
}

.Footer div a {
    color: black;
}