.Footer {
    grid-column: 3 span;
    grid-row: 3 span;
    background-color: var(--tertiaryColor);
    /* border-top: 3px solid var(--borderColor); */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.Footer>div {
    margin: 20px;
}

.Footer>div>a {
    color: black;
}