.EmptyCompaniesView {
	height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.EmptyCompaniesView>h1 {
    font-size: 50px;
}

.EmptyCompaniesView a {
    color: royalblue;
}