.EmptyCustomerCouponsView {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.EmptyCustomerCouponsView  > h1{
	font-size: 50px;
}

.EmptyCustomerCouponsView  a{
	color: royalblue;
}

.EmptyCustomerCouponsView  a:hover{
	color: var(--borderColor);
}