.GetCompanyCoupons {
    height: 100%;
    width: 100%;
}

#companyOwnedCoupon {
    width: 325px;
    height: 605px;
    margin: 20px;
    background-color: var(--tertiaryColor);
    text-align: center;
    border: 5px inset var(--borderColor);
    border-radius: 5%;
}

#companyCouponFooter {
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 290px;
}

#companyCouponFooter button {
    background-color: var(--tertiaryColor);
    border: none;
    margin: 5px;
    border-radius: 5px;
}

#companyCouponFooter button:hover {
    background-color: var(--borderColor);
    font-size: 45;

}
